/*Police*/
@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Regular.ttf');
    src: url('fonts/Raleway-Bold.ttf');
    src: url('fonts/Raleway-ExtraLight.ttf');
    src: url('fonts/Raleway-Light.ttf');
    src: url('fonts/Raleway-Thin.ttf');
}

/*body*/
body {
    font-family: 'Raleway';
    box-sizing: border-box;
}


/*HEADER*/

#header-desktop {
    display: flex;
    justify-content: space-between;
}

header-desktop a {
    text-decoration: none;
    color: #0065FC;
}

#header-desktop nav :nth-child(1) {
    border-top: 1px solid #0065FC;
}


#header-desktop :nth-child(2) {
    color: black;
}

/*H1*/
h1 {
    font-weight: Bold;
    font-size: 1.5em;
}



/****************************  MID-SECTION   *********************************/
#mid-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}




/*********************************** Hébergements ********************************/

/*id hebergements*/
#hebergements {
    background-color: #f2f2f2;
    max-width: 880px;
    border-radius: 5%;
}

#hebergements a {
    text-decoration: none;
    color: black;
}


/*heberg-card*/
#heberg-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*hebergement-card-list*/
.heberg-card-list {
    border: solid 1px white;
    background-color: white;
    border-radius: 10%;
    padding: 5px;
    height: 198px;
    margin: 15px 0;
}

/*hebergement-cards-list img*/
.heberg-card-list img {
    height: 114px;
    width: 246px;
    border-radius: 20px 20px 0 0;
}




/*************************** POPULAIRES *****************************/

/*************************** POPULAIRES *****************************/

#populaires {
    background-color: #f2f2f2;
    border-radius: 20px;
    max-width: 419px;
}


#populaires-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 624px;
    max-width: 419px;
}

.populaires-card-list {
    border: white 2px solid;
    border-radius: 20px;
    align-items: center;
    display: flex;
    height: 145;
    width: 343px;
    background-color: white;
}


.populaires-card-list h5{
    font-size: 16px;
}


.populaires-card-list a:visited {
    color: black;
}

.populaires-card-list img {
    height: 134px;
    width: 126px;
    border-radius: 20px 0 0 20px;
    padding: 3px;
}

#flex-title {
    display: flex;
    justify-content: space-around;

}

.logo {
    padding-top: 30px;
}


.stars {
    font-size: 10px;
}

.title span {
    font-weight: bold;
}

.title a {
    text-decoration: none;
    font-size: 16px;
    font-weight: lighter;
}

.blue {
    color: #0065fc;
    font-size: 16px;
}

.grey {
    color: grey;
    font-size: 16px;
}

/****************************** Activités ***************************************/
#act-block {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

    justify-content: space-between;

}

.act-cols {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.act-cards {
    height: 455px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 300px;
    border-radius: 20px;
}

.card-foot {
    height: 55px;
}

.act-cards img {
    border-radius: 20px 20px 0 0;
    height: 390px;
    overflow: auto;
    width: 300px;
    object-fit: cover;
}

.act-card-1 {
    height: 235px;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 300px;
}

.act-card-1 img {
    height: 180px;
    border-radius: 20px 20px 0 0;
    overflow: auto;
    width: 300px;
}

.act-card-3 {
    height: 164px;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 300px;
}

.act-card-3 img {
    height: 109px;
    width: 300px;
    border-radius: 20px 20px 0 0;
}

#dame {
    height: 195px;
    width: 300px;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#dame img {
    height: 140px;
    width: 300px;
    border-radius: 20px 20px 0 0;
}

#Longchamp {
    height: 210px;
    width: 300px;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#Longchamp img {
    height: 155px;
    width: 300px;
    border-radius: 20px 20px 0 0;

}



/****************************** FOOTER *****************************/


/*FOOTER*/
#footer-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    flex-wrap: wrap;
    margin-top: 5%;
}

#footer-edit h4 {
    text-align: center;
}


#footer-edit ul li {
    list-style-type: none;
}


#footer-edit ul li a {
    text-decoration: none;
    color: black;
}